<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736084876466-urt4h2ovoj7p3b6bpn6t2ng359tl2udl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736084876466-urt4h2ovoj7p3b6bpn6t2ng359tl2udl</string>
	<key>API_KEY</key>
	<string>AIzaSyCe4iLKokmfLtTWb7TL8qBiIfcnKEtz53I</string>
	<key>GCM_SENDER_ID</key>
	<string>736084876466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artkurb.EasyEnglish</string>
	<key>PROJECT_ID</key>
	<string>easyenglish-8a2b0</string>
	<key>STORAGE_BUCKET</key>
	<string>easyenglish-8a2b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736084876466:ios:79942436ab8aaf74abbdab</string>
</dict>
</plist>